* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
   }

.box{
     width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 40px;
    color: white;
    font-size: 40px
}



#box1{
    background-color: aqua;
    display: flex;
  
}
#box2{
    background-color: aquamarine;
    display: flex;
    
   
}
